.header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo-link-container {
  text-align: left;
  width: 150px;
}

.logo-link {
  background-image: none;
  display: inline-block;
}

.svg {
 position: relative;
 display: inline-block;
}
.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.nav-link-container {
  width: 100%;
  text-align: right;
}

.nav-link {
  display: inline-block;
  margin: 0;
  padding: 0 1rem 0 1rem;
  background-image: none;
  border-right: 1px solid #f2f2f2;
}

.nav-link:last-child {
  border-right: none;
}

.nav-link:hover {
  color: #62001E;
}

