h1 {
  margin: 0.4rem 0;
  margin-bottom: 1.6rem;
  background-image: none;
}

h2 {
  margin: 0.4rem 0;
  margin-bottom: 1rem;
  background-image: none;
}

h3 {
  margin: 0.4rem 0;
  margin-bottom: 0.6rem;
  background-image: none;
}

.anchor {
  background-image: none;
}


.header-wrap {
  width: 100%;
  background-color: #333;
  box-shadow: 0px 1px #999;
}

.header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
  margin-bottom: 1em;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo-link-container {
  text-align: left;
  width: 100%;
}

.site-title {
  color: #f1f1f1;
  font-size: 2rem;
  font-family: 'Roboto Slab',sans-serif;
  text-decoration: none;
  background-image: none;
  text-shadow: 2px 2px #222;
}


.logo-link {
  background-image: none;
  display: inline-block;
}

.svg {
 position: relative;
 display: inline-block;
}
.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.nav-link-container {
  width: 100%;
  text-align: right;
  padding: 0.23em 0;
}

.nav-link {
  color: #f1f1f1;
  display: inline-block;
  margin: 0;
  padding: 0 1rem 0 1rem;
  background-image: none;
  border-right: 1px solid #f2f2f2;
  text-shadow: 1px 1px #222;
}

.nav-link:last-child {
  border-right: none;
}

.nav-link:hover {
  color: #950451;
}
